/*
Created by Tyler Wojciechowski and Tyler Zega for
the Global Virtual Classroom
*/

.unselectable {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
	background-image: url("resources/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

#losingLabel {
	text-align: center;
	display: block;
	margin: 0 auto;
	color: red;
	font-size: 5vw;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#scoreLabel {
	display: block;
	font-size: 2vw;
	color: green;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#playButton {
	display: block;
	margin: 0 auto;
	font-size: 4vw;
	font-family: "Comic Sans MS", cursive, sans-serif;
}